<div class="task-form">
  <div class="task-form-input">
    <span class="p-float-label">
        <input pInputText id="task-name"/>
        <label htmlFor="task-name">Название задачи</label>
    </span>
  </div>
  <div class="task-form-input">
    <span class="p-float-label">
        <input pInputText id="task-description"/>
        <label htmlFor="task-description">Описание задачи</label>
    </span>
  </div>
  <div class="task-form-input">
    <div class="card flex justify-content-center">
      <span class="p-float-label">
      <p-calendar [showIcon]="true" id="calendar" dateFormat="dd.mm.yy"></p-calendar>
        <label htmlFor="calendar">Дата</label>
    </span>
    </div>
  </div>
  <div class="task-form-input">
      <span class="p-float-label">
        <p-treeSelect [options]="priority" ></p-treeSelect>
        <label htmlFor="task-priority">Приоритет</label>
    </span>
  </div>
  <div class="task-form-input">
      <span class="p-float-label">
        <p-treeSelect [options]="taskCategory" ></p-treeSelect>
        <label htmlFor="task-priority">Категория</label>
    </span>
  </div>
</div>
