<div class="task-form" [formGroup]="taskForm">
  <div class="task-form-input">
    <span class="p-float-label">
        <input pInputText
               formControlName="taskName"
               id="task-name"/>
        <label htmlFor="task-name">Название задачи</label>
    </span>
  </div>
  <div class="task-form-input">
    <span class="p-float-label">
        <input pInputText
               formControlName="taskDescription"
               id="task-description"/>
        <label htmlFor="task-description">Описание задачи</label>
    </span>
  </div>
  <div class="task-form-input">
    <div class="card flex justify-content-center">
      <span class="p-float-label">
      <p-calendar [showIcon]="true"
                  formControlName="taskDateSet"
                  id="taskDateSet" dateFormat="dd.mm.yy"></p-calendar>
        <label htmlFor="taskDateSet">Дата постановки</label>
      </span>
    </div>
  </div>
  <div class="task-form-input">
    <div class="card flex justify-content-center">
      <span class="p-float-label">
      <p-calendar [showIcon]="true"
                  formControlName="taskDeadline"
                  id="taskDeadline" dateFormat="dd.mm.yy"></p-calendar>
        <label htmlFor="taskDeadline">Срок выполнения</label>
      </span>
    </div>
  </div>
  <div class="task-form-input">
      <span class="p-float-label">
        <p-treeSelect [options]="priority"
                      formControlName="taskPriority"
        ></p-treeSelect>
        <label htmlFor="taskPriority">Приоритет</label>
    </span>
  </div>
  <div class="task-form-input">
      <span class="p-float-label">
        <p-treeSelect [options]="taskCategory"
                      formControlName="taskCategory"
        ></p-treeSelect>
        <label htmlFor="taskCategory">Категория</label>
    </span>
  </div>
  <div class="task-form-action">
    <p-button label="Создать задачу" severity="warning" (click)="createTask()"></p-button>
  </div>

</div>
