<p>task-form works!</p>
<div class="task-form">
  <div class="task-form-input">
    <span class="p-float-label">
        <input pInputText id="task-name"/>
        <label htmlFor="task-name">Название задачи</label>
    </span>
  </div>
  <div class="task-form-input">
    <span class="p-float-label">
        <input pInputText id="task-description"/>
        <label htmlFor="task-description">Описание задачи</label>
    </span>
  </div>
  <div class="task-form-input">
    <div class="card flex justify-content-center">
      <p-calendar [showIcon]="true"></p-calendar>
    </div>
  </div>
</div>
