.dashboard-menu {
  padding-left: 10px;
  font-size: 12px;

  .dashboard-menu-avatar {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .dashboard-menu-avatar-name {
      margin-left: 10px;
    }
  }
}
