<section class="dashboard">
  <div class="container">
    <div class="dashboard-menu">
      <div class="dashboard-menu-avatar">
        <p-avatar icon="pi pi-user" styleClass="mr-2" shape="circle" size="large"></p-avatar>
        <div class="dashboard-menu-avatar-name">{{userName}}</div>
      </div>
      <div class="card flex justify-content-center">
        <p-tieredMenu [model]="items" [style]="{'width':'300px'}"></p-tieredMenu>
      </div>

      <p-dialog [(visible)]="addTaskVisible" (visibleChange)="closeTaskMenu($event)" header="Создать новую задачу" [style]="{ width: '400px', height: '50vh' }">
        <task-form (visibleChange)="closeTaskMenu($event)"></task-form>
      </p-dialog>

      
      <p-dialog [(visible)]="addCategoryVisible" (visibleChange)="closeAddCategory($event)" header="Создать катеорию задач" [style]="{ width: '400px', height: '50vh' }">
        <category-add-form (visibleChange)="closeAddCategory($event)"></category-add-form>
      </p-dialog>
    </div>
  </div>
</section>
