<section class="dashboard">
  <div class="container">
    <div class="dashboard-menu">
      <div class="dashboard-menu-avatar">
        <p-avatar icon="pi pi-user" styleClass="mr-2" shape="circle" size="large"></p-avatar>
        <div class="dashboard-menu-avatar-name">{{userName}}</div>
      </div>
      <div class="card flex justify-content-center">
        <p-tieredMenu [model]="items" [style]="{'width':'300px'}"></p-tieredMenu>
      </div>
    </div>



    <p-dialog header="Создать новую задачу" [(visible)]="visibleAddTask" [style]="{ width: '40vw', height: '300px' }">
      <task-form></task-form>
    </p-dialog>
  </div>
</section>
