<aside class="sidebar">
  <div class="container">
    <div class="sidebar-menu">
      <div class="sidebar-menu-avatar">
        <p-avatar icon="pi pi-user" styleClass="mr-2" shape="circle" size="large"></p-avatar>
        <div class="sidebar-menu-avatar-name">{{userName}}</div>
      </div>
      <div class="card flex justify-content-center">
        <p-tieredMenu [model]="items" [style]="{'width':'230px'}"></p-tieredMenu>
      </div>
    </div>
  </div>
</aside>


<p-dialog [(visible)]="addTaskVisible" (visibleChange)="closeTaskMenu($event)" header="Создать новую задачу" [style]="{width: '30%', height: '90%' }">
  <task-form (visibleChange)="closeTaskMenu($event)"></task-form>
</p-dialog>

<p-dialog [(visible)]="addCategoryVisible" (visibleChange)="closeAddCategory($event)" header="Создать категорию задач" [style]="{ width: '30%', height: '90%' }">
  <category-add-form (visibleChange)="closeAddCategory($event)"></category-add-form>
</p-dialog>