<section class="tasks">
  <h2>Все задачи</h2>
  <div class="tasks-table" *ngIf="tasks && tasks.length>0">
    <p-table [value]="tasks" [columns]="column" [resizableColumns]="true" [customSort]="true" [tableStyle]="{'min-width': '100%'}">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let column of columns">{{column.header}}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-task>
          <task-tr *ngFor="let task of tasks" [task]="task"></task-tr>
      </ng-template>
    </p-table>
  </div>
  <p-toast></p-toast>
</section>
<!--(sortFunction)="customSort($event)"-->