<section class="tasks">
  <h2>Все задачи</h2>
  <div class="tasks-table" *ngIf="tasks && tasks.length>0">
    <p-table [value]="tasks" [columns]="column" [resizableColumns]="true" [sortMode]="'single'"
      (sortFunction)="customSort($event)" [tableStyle]="{'min-width': '100%'}">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th pSortableColumn="{{column.field}}" *ngFor="let column of columns">{{column.header}} <p-sortIcon
              field="{{column.field}}"></p-sortIcon></th>
          <th>Действия</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-currentTask let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            {{ currentTask[col.field] }}
          </td>
          <td>
            <p-button (click)="editTask(currentTask)" icon="pi pi-pencil" severity="info"></p-button>
            <p-button (click)="removeTask(currentTask)" icon="pi pi-trash" severity="danger"></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <p-dialog [(visible)]="editTaskVisible" (visibleChange)="closeTaskMenu($event)" header="Редактировать задачу"
    [style]="{width: '30%', height: '90%' }">
    <task-form (visibleChange)="closeTaskMenu($event)"></task-form>
  </p-dialog>

  <p-toast></p-toast>
  <p-confirmDialog [style]="{width: '50vw'}" acceptLabel="Да" acceptIcon=" " rejectLabel="Нет"
    rejectIcon=" "></p-confirmDialog>
</section>