.tasks {
  .task-category-empty {
    text-align: center;

    h2 {
      margin: 0 0 30px 0;
    }

    div {
      text-align: center;
      margin-bottom: 30px;
    }
  }

  .tasks-table {
    text-align: center;

    .tasks-table-action {
      margin-bottom: 30px;
    }

    .tasks-table-action-group {
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-end;
      width: 100%;
    }
  }

  .tasks-empty {
    text-align: center;

    h2 {
      margin: 0 0 30px 0;
    }

    div {
      margin-bottom: 20px;
    }
  }
}