.tasks {
  .task-category-empty {
    h2 {
      margin: 0 0 30px 0;
    }

    div {
      margin-bottom: 30px;
    }
  }

  .tasks-table {
    .tasks-table-head {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 30px;

      .tasks-table-head-button {
        display: block;
      }

      h2 {
        margin: 0;
      }
    }

  }

  .tasks-empty {
    h2 {
      margin: 0 0 30px 0;
    }

    div {
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width:1170px) {
  .tasks {
    .tasks-table {
      text-align: center;
  
      .tasks-table-head {
        .tasks-table-head-button {
          display: block;
          
        }
      }
    }
  }
}