.task-info {
    .task-info-name {
        margin-bottom: 5px;
        font-weight: bold;
    }
    .task-info-name-description {
        max-width: 290px;
        word-wrap: break-word;
        margin-bottom: 5px;
    }
}