<section class="task-category">
    <div class="task-category-empty" *ngIf="!categories || categories.length <1">
        <div>Категории задач отсутствуют</div>
    </div>
    <div class="task-category-action">
        <p-button label="Создать категорию" severity="warning" (click)="openAddCategoryMenu()"></p-button>
    </div>
    <div class="task-category-table" *ngIf="categories && categories.length>0">
        <p-table [value]="categories" responsiveLayout="stack" [tableStyle]="{ 'width': '100%' }">
            <ng-template pTemplate="header">
                <tr>
                    <th style="text-align: center;">Название категории</th>
                    <th style="text-align: right;"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-category>
                <tr>
                    <td>{{category.categoryName}}</td>
                    <td>
                        <p-button (click)="editCategory(category)" icon="pi pi-pencil" severity="info"></p-button>
                        <p-button (click)="removeCategory(category)" icon="pi pi-trash" severity="danger"></p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <p-dialog [(visible)]="editCategoryVisible" (visibleChange)="closeCategoryMenu($event)"
            header="Редактировать категорию" [style]="{width: '30%', height: '90%' }">
            <category-add-form (visibleChange)="closeCategoryMenu($event)"></category-add-form>
        </p-dialog>

        <p-dialog [(visible)]="addCategoryVisible" (visibleChange)="closeAddCategory($event)"
            header="Создать категорию задач" [style]="{ width: '30%', height: '90%' }">
            <category-add-form (visibleChange)="closeAddCategory($event)"></category-add-form>
        </p-dialog>

        <p-toast></p-toast>
        <p-confirmDialog [style]="{width: '50vw'}" acceptLabel="Да" acceptIcon=" " rejectLabel="Нет" rejectIcon=" ">
        </p-confirmDialog>
</section>