.task-category {
  text-align: center;

  .task-category-action {
    margin-bottom: 30px;
  }
  .task-category-table {
    div {
      margin: 30px 0 30px 0;
    }
  }

  .task-category-empty {
    div {
      margin: 0 0 30px 0;
    }
  }
}