.category-add-form {
    .category-add-form-input {
      max-width: 250px;
      margin-top: 30px;
  
      .category-add-form-input-help {
        margin-top: 5px;
        font-size: 10px;
        color: #e24c4c;
        max-width: 224px;
        display: block;
      }
    }
  
    .category-add-form-action {
      max-width: 250px;
      margin-top: 30px;
      text-align: center;
    }
  }
  