<div class="category-add-form" [formGroup]="categoryAddTask">
    <div class="category-add-form-input">
        <span class="p-float-label">
            <input pInputText formControlName="categoryName"
                [ngClass]="{'ng-invalid ng-dirty': categoryAddTask.get('categoryName')?.invalid && (categoryAddTask.get('categoryName')?.dirty || categoryAddTask.get('categoryName')?.touched) ?  true : ''}"
                id="task-name" />
            <label htmlFor="task-name">Название категории</label>
        </span>
        <small class="category-add-form-input-help" *ngIf="categoryAddTask.get('categoryName')?.errors?.['pattern']">Только буквы,
            цифры, знаки препинания</small>
        <small class="category-add-form-input-help" *ngIf="categoryAddTask.get('categoryName')?.hasError('maxlength')">Максимум 20
            символов</small>
    </div>
    <div class="category-add-form-action">
        <p-button [disabled]="!categoryAddTask.valid" label="Создать категорию" severity="warning" (click)="createCategory()"></p-button>
      </div>
</div>