@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-treeselect.p-component.p-inputwrapper {
  width: 250px;
}

.p-ripple.p-element.p-tree-toggler.p-link {
  display: none;
}

.p-calendar .p-button {
  background: #D97706;
  border-color: #D97706;
}

.p-component-overlay.p-datepicker-mask.p-datepicker-mask-scrollblocker.p-component-overlay-enter {
  display: none;
}

.p-datatable .p-datatable-thead>tr>th {
  padding: 8px 5px;
  font-size: 12px;
  text-align: center;
}

.p-datatable-tbody>tr>td {
  font-size: 13px;
  text-align: center;
}

.p-datatable .p-datatable-tbody>tr>td {
  padding: 0.3rem 0.3rem;
}
.p-ripple.p-element.p-button.p-component.p-button-icon-only.p-button-help,
.p-ripple.p-element.p-button.p-component.p-button-icon-only.p-button-info,
.p-ripple.p-element.p-button.p-component.p-button-icon-only.p-button-success {
  margin-right: 5px;
}

.p-ripple.p-element.p-button.p-component.p-button-icon-only.p-button-help,
.p-ripple.p-element.p-button.p-component.p-button-icon-only.p-button-info,
.p-ripple.p-element.p-button.p-component.p-button-icon-only.p-button-danger,
.p-ripple.p-element.p-button.p-component.p-button-icon-only.p-button-success {
  width: 25px;
  height: 25px;
}

.p-ripple.p-element.p-menuitem-link.ng-star-inserted {
  padding: 9px;
}

.tasks-table-head-button.p-ripple.p-element.p-button.p-component.p-button-icon-only.p-button-secondary.p-button-text {
  width: 30px;
  height: 30px;
  padding: 10px;
  margin-right: 20px;
}


.nav-menu.p-tabmenu-nav-content {
  background: #e9ecef;
  border-radius: 0;
}

.nav-menu .p-ripple.p-element.p-menuitem-link.ng-star-inserted {
  background-color: #e9ecef;
  color: #85888a;
  border-radius: 0;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
    background: #e9ecef;
    border-color: #e9ecef;
    color: #000000;
    border-radius: 0;
}

.p-sidebar	{
  padding: 0;
}

.p-column-title {
  font-weight: bold;
}

.p-inputtext.p-component.p-element {
  max-width: 250px;
}
