@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";


.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-treeselect.p-component.p-inputwrapper {
  width: 250px;
}

.p-ripple.p-element.p-tree-toggler.p-link {
  display: none;
}

.p-calendar .p-button {
  background: #D97706;
  border-color: #D97706;
}


.p-datatable .p-datatable-thead>tr>th {
  padding: 8px;
  font-size: 12px;
}

.p-datatable-tbody>tr>td {
  font-size: 13px;
  text-align: center;
}

.p-datatable .p-datatable-tbody>tr>td {
  padding: 0.3rem 0.3rem;
}

.p-ripple.p-element.p-button.p-component.p-button-icon-only.p-button-info,
.p-ripple.p-element.p-button.p-component.p-button-icon-only.p-button-danger {
  width: 25px;
  height: 25px;
}

.p-ripple.p-element.p-button.p-component.p-button-icon-only.p-button-info {
  margin-right: 8px;
}

.p-tieredmenu {
  font-size: 12px;
}

.p-ripple.p-element.p-menuitem-link.ng-star-inserted {
  padding: 9px;
}

.tasks-table-head-button .p-ripple.p-element.p-button.p-component.p-button-icon-only.p-button-secondary.p-button-text {
  width: 30px;
  height: 30px;
  padding: 10px;
  margin-right: 20px;
}

.slide-in-out {
  transform: translateX(0);
}

.slide-out {
  transform: translateX(-100%);
}