.complete {
    .complete-empty {
        text-align: center;
    }

    .complete-tasks-table{
        text-align: center;

        .tasks-table-action {
            margin-bottom: 30px;
        }
    }
}